.App {
  max-width: 768px;
  margin: 2rem auto;
  text-align: center;
  font-size: 90%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  margin-top: 2rem;
}

.main-form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern-input {
  padding: 0.5rem 0.75rem;
  width: 200px;
  margin-right: 0.1rem;
  border-radius: 0.1rem;
  border: 0.1rem solid lightgray;
  font-family: inherit;
}

.pattern-input:hover,
.pattern-input:focus {
  border: 0.1rem solid #30b7e0;
  outline: none;
}

.items {
  margin: 0;
  padding: 0;
  text-align: left;
}
.items li {
  padding: 0.5rem 0.75rem;
  width: 200px;
  list-style-type: none;
  cursor: pointer;
  border: 0.05rem solid lightgray;
}
.items li:hover {
  border: 0.05rem solid #5bc0de;
}

table {
  margin: 4rem auto;
  border-collapse: collapse;
  width: 700px;
}

th {
  background-color: rgb(230, 230, 230);
}
td,
th {
  border: 0.1rem solid rgb(185, 185, 185);
  padding: 0.4rem 0.75rem;
}

button {
  font-family: inherit;
  padding: 0.5rem 0.75rem;
  margin-left: 0.5rem;
  color: white;
  background-color: #5bc0de;
  border-radius: 0.1rem;
  border: 0.1rem solid #30b7e0;
  cursor: pointer;
  outline: none;
}
button[type="reset"] {
  width: 2.3rem;
}
button:hover {
  background-color: #53b2cf;
}
.icon {
  cursor: pointer;
}

.strong {
  color: green;
}

.weak {
  color: red;
}
